/* Color Style */
.simple_import_export .text-danger {
    color: #DC3545;
}

.simple_import_export .text-primary {
    color: #007BFF;
}

.simple_import_export .text-success {
    color: #28A745;
}

.simple_import_export .text-warning {
    color: #c1950f;
}

.simple_import_export .text-muted {
    color: #6d6d6d;
}

/* Dashicon logo */
.simple_import_export span.dashicons-randomize {
    font-size: 25px;
    margin-right: 5px;
    vertical-align: -4px;
}

/* add cursor */
.simple_import_export .cursor-pointer {
    cursor: pointer;
}

/* Top Content wp list table */
.wlt-top-content {
    width: 95.5%;
    min-height: 150px;
    margin: 25px 10px;
    background: #fff;
    border-radius: 10px;
    padding: 20px;
}