/* Color Style */
.simple_import_export .text-danger {
    color: #DC3545;
}

.simple_import_export .text-primary {
    color: #007BFF;
}

.simple_import_export .text-success {
    color: #28A745;
}

.simple_import_export .text-warning {
    color: #c1950f;
}

.simple_import_export .text-muted {
    color: #6d6d6d;
}

.simple_import_export_d_none {
    display: none;
}

.simple_import_export .cursor-pointer {
    cursor: pointer;
}

#simple-import-alert {
    margin: 0 5px;
    border: 1px solid #e3e3e3;
    padding: 15px;
    border-radius: 10px;
    display: none;
    background: #fff;
}